__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
node_modules/
.DS_Store
.idea/
.vscode/
*.log
backend/db/local.db
backend/mlflow.db
backend/analytics.db
scripts/
mlflow.db   
mlartifacts/
dist/
build/
*.egg-info/

# Frontend specific
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

data/raw_trace_logs_1.json
data/Standard_traces_1.json
backend/demo.json
backend/metrics.json
backend/raw_trace_logs.jsonl
backend/Standard_traces.jsonl
backend/standard_trace_logs.jsonl
Dashboard_working.md
text2.txt
text3.txt
trace_normalization.md
start_app.sh
*.md
Makefile